.button {
	display: block;
	width: 100%;
	max-width: 335px;
	padding: 16px 36px;
	border-radius: 50px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	color: var(--white);
	background-color: var(--blue);

	&--alt {
		padding-top: 14px;
		padding-bottom: 14px;
		border: 2px solid var(--blue);
		color: var(--blue);
		background-color: transparent;
	}
}
