.checkbox {
	position: relative;
	width: fit-content;

	&__label {
		padding-left: 36px;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			width: 24px;
			height: 24px;
			border: 0.5px solid var(--blue);
			border-radius: 4px;
		}
	}

	&__input:checked + .checkbox__label {
		&::after {
			content: '';
			position: absolute;
			top: 8px;
			left: 4px;
			width: 16px;
			height: 11px;

			background-image: url('/checkbox.svg');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}
	}
}

@media screen and (min-width: $tablet) {
	.checkbox {
		&__label {
			&::before {
				top: 4px;
			}
		}

		&__input:checked + .checkbox__label {
			&::after {
				top: 11px;
			}
		}
	}
}
