.form {
	margin: 0 auto;
	color: var(--gray-text);

	&__select {
		line-height: normal;
		cursor: pointer;

		&:focus {
			border-color: var(--blue);
			box-shadow: none;
		}
	}

	&__label {
		display: block;
		margin-bottom: 12px;
		cursor: pointer;

		&--upload {
			cursor: auto;
		}
	}

	&__input {
		margin-bottom: 28px;

		&:last-child {
			margin-bottom: 0;
		}

		&-price {
			max-width: 322px;
			margin-bottom: 0;
		}
	}

	&__fieldset {
		margin-bottom: 53px;

		&:last-child {
			margin-bottom: 60px;
		}
	}

	&__container {
		max-width: 798px;
		margin: 0 auto;
	}

	&__legend {
		display: flex;
		align-items: center;
		gap: 20px;

		width: 100%;
		margin-bottom: 33px;

		font-size: 26px;
		text-transform: uppercase;
		text-align: center;

		&::after,
		&::before {
			content: '';
			width: 100%;
			height: 1px;
			background-color: var(--blue);
		}
	}

	&__texarea {
		display: block;
		resize: none;
	}

	&__input-with-checkbox {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 10px;
		margin-bottom: 28px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__price-wrapper {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	&__upload-button {
		font-size: 20px;
		cursor: pointer;
	}

	&__rules {
		margin-bottom: 24px;
	}

	&__button {
		margin: 0 auto;
	}
}

@media screen and (min-width: $tablet) {
	.form {
		font-size: 22px;

		&__legend {
			margin-bottom: 53px;
		}

		&__texarea {
			min-height: 346px;
		}
	}
}
