.container {
	width: 100%;
	min-width: $mobail;
	max-width: $desktop;
	margin: 0 auto;
	padding: 0 20px;

	@media (min-width: $tablet) {
		padding: 0 40px;
	}

	@media (min-width: $laptop-l) {
		padding: 0 100px;
	}

	@media (min-width: $desktop) {
		padding: 0 260px;
	}
}
